h1 {
  color:red;
}
h2 {
  color:red;
}
body {
  background-color:lightblue;
  color:blue 
}
ol {
  color:green;
}
button {
  color:green;
}
a {
  color:cyan;
}
body {
  padding:10px;
}
h1 {
  text-align:center;
}


